<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.8.525" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Text.Data" version="15.8.525" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="15.8.525" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Threading" version="15.8.209" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.0.102" targetFramework="net462" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.58" targetFramework="net462" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net462" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net462" />
</packages>